# Exclude everything under docs
docs/*

# But keep these two directories
!docs/notebooks
!docs/maplibre

# Optionally exclude other common files
.git
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
.env
.DS_Store
tests/
build/
dist/
*.egg-info/
