black
black[jupyter]
bokeh
boto3
cogeo-mosaic
d2spy
# earthaccess
ffmpeg-python
geopandas>=1.0.0
gradio
h3
h5py
# ipygany
# ipysheet
# ipyvtklink
# jupyter_bokeh
jupyterlab>=3.0.0
keplergl
laspy
localtileserver>=0.10.1
lonboard
mapclassify>=2.4.0
maplibre
mss
netcdf4
osmnx
overturemaps
owslib
palettable
panel
plotly
pmtiles
pre-commit
# psycopg2
pycrs
pydeck
pyntcloud[LAS]
pyvista-xarray
PyYAML #==6.0.1
rasterio
rasterstats
rio-cogeo
rioxarray
# sqlalchemy
# streamlit-folium
# tippecanoe
