anywidget>=0.9.13
bqplot>=0.12.43
colour>=0.1.5
duckdb>=0.10.3; python_version < '3.13'
folium>=0.14.0
gdown>=5.1.0
geojson>=3.1.0
ipyevents>=2.0.2
ipyfilechooser>=0.6.0
ipyleaflet>=0.18.2
ipyvuetify>=1.9.4
ipywidgets>=7.6.0
matplotlib>=3.7.1
numpy>=1.25.0, <3.0.0
pandas>=2.0.3
plotly>=5.15.0
psutil>=5.9.5
pyshp>=2.3.1
pystac-client>=0.8.2
python-box>=7.2.0
scooby>=0.10.0
setuptools>=70.0.0
whiteboxgui>=2.3.0
xyzservices>=2024.6.0
