black
black[jupyter]
bokeh
boto3
codespell
cogeo-mosaic
datapane
deadlink
ffmpeg-python
geopandas
googledrivedownloader
gradio
here-map-widget-for-jupyter>=1.1.1
jupyter_bokeh
jupyterlab>=3.0.0
keplergl
ipygany
ipysheet
ipyvtklink
laspy
localtileserver
mapclassify>=2.4.0
mss
netcdf4
osmnx
owslib
palettable
panel
plotly
psycopg2
pycrs
pydeck
pyntcloud[LAS]
pyvista-xarray
rasterio
rasterstats
rio-cogeo
rioxarray
sqlalchemy
streamlit-folium
xarray_leaflet         