black
black[jupyter]
bump2version
coverage
flake8
grip
ipykernel
livereload
mkdocstrings
mkdocstrings-python
nbconvert
nbformat
pip
pre-commit
pygments
pymdown-extensions
PyYAML
sphinx
tox
twine
watchdog
wheel
zensical
