anywidget
bqplot
duckdb>=1.4.1
folium
gdown
geojson
geopandas
ipyevents
ipyfilechooser
ipyleaflet
ipyvuetify
ipywidgets
maplibre
matplotlib
numpy
pandas
plotly
pystac-client
python-box
scooby
whiteboxgui
xyzservices
