name: docs
on:
    push:
        branches:
            - master
jobs:
    deploy:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.12"]

        defaults:
            run:
                shell: bash -el {0}

        env:
            PLANET_API_KEY: ${{ secrets.PLANET_API_KEY }}
            USE_FOLIUM: ${{ secrets.USE_FOLIUM }}
            USE_MKDOCS: ${{ secrets.USE_MKDOCS }}
            MAPBOX_TOKEN: ${{ secrets.MAPBOX_TOKEN }}
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
            EARTHDATA_USERNAME: ${{ secrets.EARTHDATA_USERNAME }}
            EARTHDATA_PASSWORD: ${{ secrets.EARTHDATA_PASSWORD }}

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Setup Python
              uses: conda-incubator/setup-miniconda@v3
              with:
                  auto-activate-base: true
                  python-version: ${{ matrix.python-version }}
                  channels: conda-forge,defaults
                  channel-priority: true
                  miniconda-version: latest

            - name: Cache dependencies
              uses: actions/cache@v4
              with:
                  path: ~/.cache/pip
                  key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
                  restore-keys: |
                      ${{ runner.os }}-pip-

            - name: Testing conda
              run: |
                  conda info
                  conda list

            - name: Install GDAL
              run: |
                  # conda install -c conda-forge mamba --yes
                  # mamba install -c conda-forge gdal pyproj --yes
                  pip install --no-cache-dir Cython
                  pip install --find-links=https://girder.github.io/large_image_wheels --no-cache GDAL

            - name: Test GDAL installation
              run: |
                  python -c "from osgeo import gdal"
                  gdalinfo --version

            - name: Install dependencies
              run: |
                  pip install --no-cache-dir Cython PyYAML==6.0.1
                  pip install -r requirements.txt -r requirements_dev.txt
                  pip install .

            - name: PKG-TEST
              run: python -m unittest discover tests/

            - name: Install mkdocs
              run: pip install -r requirements_docs.txt
            - run: mkdocs gh-deploy --force
