on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

name: Windows build
jobs:
    test-windows:
        runs-on: windows-latest
        strategy:
            matrix:
                python-version: ["3.11"]

        defaults:
            run:
                shell: bash -el {0}

        steps:
            - uses: actions/checkout@v4

            - name: Setup Python
              uses: conda-incubator/setup-miniconda@v3
              with:
                  auto-activate-base: true
                  python-version: ${{ matrix.python-version }}
                  channels: conda-forge,defaults
                  channel-priority: true
                  miniconda-version: latest

            - name: Cache dependencies
              uses: actions/cache@v3
              with:
                  path: ~/.cache/pip
                  key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
                  restore-keys: |
                      ${{ runner.os }}-pip-

            - name: Testing conda
              run: |
                  conda info
                  conda list

            - name: Install GDAL
              run: |
                  conda install -c conda-forge mamba --yes
                  mamba install -c conda-forge gdal pyproj --yes

            # - name: Test GDAL installation
            #   run: |
            #       python -c "from osgeo import gdal"
            #       gdalinfo --version

            - name: Install dependencies
              run: |
                  pip install -r requirements.txt
                  pip install .

            - name: Test import
              run: python -c "import leafmap; print('leafmap import successful')"
